<div id="about" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "about" }}</h2>
    </div>
    <div class="section__content about__p">
        <p>
            Xccelerated is a part of the Xebia Group, accelerating careers and skills of professionals. Through our 13-month program, we train highly skilled Machine learning engineers, Data engineers & Cloud professionals with the goal to become authorities in their fields and be connected to their next employer.
        </p><p>
            Our advanced training program develops each person’s technical and personal competencies, starting with a bootcamp (hands-on training) followed by the opportunity to work directly on real-world big data, engineering & cloud challenges. Four days a week at our partners, 1-day extra training and project support from our technical leads. After one year, Xccelerators have the opportunity to transfer to the partner organization directly, without any strings attached.
        </p><p>
            Xccelerated is founded in 2018 as a part of the Xebia Group, a dutch private IT-firm with offices in Europe, Asia and the US, employing over 6000 employees. Customers of Xccelerated include ASML, ING, Vattenfall, Ahold Delhaize, KLM, Nationale Nederlanden, ABN AMRO and Royal Flora Holland.
        </p>
    </div>
</div>
